<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.medical.hypergraph.mapper.ColumnManagerMapper">


    <insert id="insertColumn" parameterType="com.cqupt.medical.hypergraph.entity.ColumnManager">
        insert into t_column_manager (table_name,field_name,is_demography,is_physiological, is_sociology)
        VALUES
        <foreach collection="tableHeaders" item="column" separator=",">
            (#{tableName}, #{column.fieldName}, #{column.isDemography}, #{column.isPhysiological},
            #{column.isSociology})
        </foreach>
    </insert>

    <delete id="delColumnByTableName">
        delete from t_column_manager where table_name = #{tableName}
    </delete>

    <!--    <select id="getFieldByTableName" resultType="java.lang.String">-->
<!--        select COLUMN_NAME-->
<!--        from information_schema.COLUMNS-->
<!--        where table_name = #{tableName}-->
<!--          and table_scheme = 'medical'-->
<!--    </select>-->

</mapper>