<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqupt.medical.hypergraph.mapper.TableMapper">

    <!--void createTable(String tableName, LinkedHashMap<String,String> tableHeaders)-->
    <update id="createTable">
        CREATE TABLE `${tableName}`
        <foreach collection="tableHeaders" index="header" item="dataType" separator="," open="(" close=")">
            `${header}` ${dataType}
        </foreach>
    </update>

    <!--void insertData(String tableName,String[] columns,List<String[]> rows);-->
    <insert id="insertData">
        INSERT INTO `${tableName}`
        <foreach collection="columns" item="column" separator="," open="(" close=")">
            `${column}`
        </foreach>
        VALUES
        <foreach collection="rows" item="row" separator=",">
            <foreach collection="row" item="data" separator="," open="(" close=")">
                #{data}
            </foreach>
        </foreach>
    </insert>

    <update id="delTable">
        DROP TABLE `${tableName}`
    </update>

</mapper>